<a href="https://colab.research.google.com/github/ashvinigithub/MachineLearningSunny/blob/master/Label_encoding_%26_Ordinal_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This source code created by IndianAIProduction.com team
https://indianaiproduction.com/feature-scaling-standardization-normalization

Video on 
Label Encoding & Ordinal Encoding in Hindi: https://youtu.be/NlfLivr156Y
        
for video tutorial visit our youtube channel
www.youtube.com\IndianAIProduction

# New Section

# Label encoding & Ordinal Encoding

In [15]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder # OrdinalEncoder

In [16]:
pd.set_option("display.max_rows",10)

In [17]:
df = pd.read_csv(r"/content/train_house_price_prediction.csv")
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [18]:
df2 = df[["KitchenQual","BldgType"]]

In [19]:
le = LabelEncoder()

In [20]:
le.fit_transform(df2["BldgType"])

array([0, 0, 0, ..., 0, 0, 0])

In [21]:
df2["BldgType_L_enc"] = le.fit_transform(df2["BldgType"])
df2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     KitchenQual BldgType  BldgType_L_enc
0             Gd     1Fam               0
1             TA     1Fam               0
2             Gd     1Fam               0
3             Gd     1Fam               0
4             Gd     1Fam               0
...          ...      ...             ...
1455          TA     1Fam               0
1456          TA     1Fam               0
1457          Gd     1Fam               0
1458          Gd     1Fam               0
1459          TA     1Fam               0

[1460 rows x 3 columns]

In [22]:
df["BldgType"].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

In [23]:
df["KitchenQual"].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

In [24]:
"""# KitchenQual: Kitchen quality

       Ex	Excellent
       Gd	Good
       TA	Typical/Average
       Fa	Fair
"""

'# KitchenQual: Kitchen quality\n\n       Ex\tExcellent\n       Gd\tGood\n       TA\tTypical/Average\n       Fa\tFair\n'

In [25]:
order_Label = {"Ex":4,"Gd":3,"TA":2,"Fa":1}

In [26]:
df2["KitchenQual_org_enc"] = df2["KitchenQual"].map(order_Label)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
df2

     KitchenQual BldgType  BldgType_L_enc  KitchenQual_org_enc
0             Gd     1Fam               0                    3
1             TA     1Fam               0                    2
2             Gd     1Fam               0                    3
3             Gd     1Fam               0                    3
4             Gd     1Fam               0                    3
...          ...      ...             ...                  ...
1455          TA     1Fam               0                    2
1456          TA     1Fam               0                    2
1457          Gd     1Fam               0                    3
1458          Gd     1Fam               0                    3
1459          TA     1Fam               0                    2

[1460 rows x 4 columns]

In [28]:
print("Ab milenge next tutorial me,\nTab tak ke liye SIKHATE SIKHATE kuch IMPLEMENT karte raho,\nThank You.....-:)")

Ab milenge next tutorial me,
Tab tak ke liye SIKHATE SIKHATE kuch IMPLEMENT karte raho,
Thank You.....-:)